

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300');

.header {
    text-align: center;
}

.header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15rem;
}

.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    margin-bottom: 10rem;
}

.store-badge {
    margin: 2rem;
    width: 150px;
    height: auto;
}
